name: Release on Tag

on:
  push:
    tags:
      - "*"

jobs:
  create_release:
    runs-on: ubicloud-standard-4
    permissions:
      contents: write # needed for creating a release
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create GitHub Release
        run: gh release create ${{ github.ref_name }} --generate-notes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
